<web-app>
    <servlet>
        <servlet-name>WhisperServlet</servlet-name>
        <servlet-class>com.triviaapp.servlets.WhisperServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WhisperServlet</servlet-name>
        <url-pattern>/whisper</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WhisperServlet</servlet-name>
        <url-pattern>/whisper/transcribe</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainDataServlet</servlet-name>
        <servlet-class>com.triviaapp.servlets.MainDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainDataServlet</servlet-name>
        <url-pattern>/main/data</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryLobbiesServlet</servlet-name>
        <servlet-class>com.triviaapp.servlets.CategoryLobbiesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CategoryLobbiesServlet</servlet-name>
        <url-pattern>/category-lobbies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryLobbiesDataServlet</servlet-name>
        <servlet-class>com.triviaapp.servlets.CategoryLobbiesDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CategoryLobbiesDataServlet</servlet-name>
        <url-pattern>/category-lobbies/data</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.triviaapp.servlets.SignUpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <!-- M2M100 Translator proxy -->
    <servlet>
        <servlet-name>M2M100Servlet</servlet-name>
        <servlet-class>com.triviaapp.servlets.M2M100Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>M2M100Servlet</servlet-name>
        <url-pattern>/m2m100</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>M2M100Servlet</servlet-name>
        <url-pattern>/m2m100/languages</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>M2M100Servlet</servlet-name>
        <url-pattern>/m2m100/translate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>M2M100Servlet</servlet-name>
        <url-pattern>/m2m100/translate/questions-answers</url-pattern>
    </servlet-mapping>

    <!-- login redirect -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>main.java.com.triviaapp.servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>
